.recruitImg {
  max-width: 100%;
}

.recruitPanel{
  margin: 30px auto 0;
  max-width: 1200px;
  padding: 0 20px;
  border: 6px solid #ccc;
  /* 中央揃え */
  text-align: center;
}

.title {
  display: inline-block;
  position: relative;
  top: -35px;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: #fff;
}

/* .recruitBtn {

} */
