.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  list-style: none;
}
